和平里 特約商店 - 新申請通報推播_案件版可匯入.json
{
    "name": "和平里 特約商店 - 新申請通報推播 (案件版可匯入)",
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    },
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2163667,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": { "x": 0, "y": 0 },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": { "editable": "true" },
                            "label": "和平里 特約商店"
                        }
                    }
                },
                "parameters": [
                    { "name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true },
                    { "name": "maxResults", "type": "number", "label": "Maximum number of results" }
                ],
                "interface": [
                    { "name": "storeId",   "type": "text" },
                    { "name": "name",      "type": "text" },
                    { "name": "phone",     "type": "text" },
                    { "name": "lineId",    "type": "text" },
                    { "name": "cate",      "type": "text" },
                    { "name": "title",     "type": "text" },
                    { "name": "storephone","type": "text" },
                    { "name": "taxid",     "type": "text" },
                    { "name": "desc",      "type": "text" },
                    { "name": "offer",     "type": "text" },
                    { "name": "opentime",  "type": "text" },
                    { "name": "addr",      "type": "text" },
                    { "name": "map",       "type": "text" },
                    { "name": "photo1",    "type": "text" },
                    { "name": "photo2",    "type": "text" },
                    { "name": "photo3",    "type": "text" },
                    { "name": "planType",  "type": "text" }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "storeId",
                "scope": "roundtrip",
                "value": "{{1.storeId}}"
            },
            "metadata": {
                "designer": { "x": 300, "y": 0 },
                "restore": {
                    "expect": { "scope": { "label": "One cycle" } }
                },
                "interface": [
                    { "name": "storeId", "type": "any", "label": "storeId" }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "reply_url",
                "scope": "roundtrip",
                "value": "https://itokorabbit.github.io/HPNBHS/storedetail.html?id={{7.storeId}}"
            },
            "metadata": {
                "designer": { "x": 600, "y": 0 },
                "restore": {
                    "expect": { "scope": { "label": "One cycle" } }
                },
                "interface": [
                    { "name": "reply_url", "type": "any", "label": "reply_url" }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.reurl.cc/shorten",
                "method": "post",
                "headers": [
                    { "name": "Content-Type", "value": "application/json" },
                    { "name": "reurl-api-key", "value": "4070ff49d794e43415553b663c974755ecd7b034909d04df8a38b58d65165567c4f5d6" }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\"url\": \"{{2.reply_url}}\"}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": { "x": 900, "y": 0 },
                "restore": {
                    "expect": {
                        "method": { "mode": "chose", "label": "POST" },
                        "headers": { "mode": "chose", "items": [null, null] },
                        "contentType": { "label": "application/json" },
                        "inputMethod": { "label": "JSON string" },
                        "shareCookies": { "mode": "chose" },
                        "parseResponse": { "mode": "chose" },
                        "allowRedirects": { "mode": "chose" },
                        "stopOnHttpError": { "mode": "chose" },
                        "requestCompressedContent": { "mode": "chose" }
                    },
                    "parameters": {
                        "tlsType": { "label": "Empty" },
                        "proxyKeychain": { "label": "Choose a key" },
                        "authenticationType": { "label": "No authentication" }
                    }
                }
            }
        },
        {
            "id": 28,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "hero_image_url",
                "scope": "roundtrip",
                "value": "{{ifempty(trim(1.photo1); \"https://placehold.co/1200x800/e5e7eb/9ca3af/png?text=No+Photo\")}}"
            },
            "metadata": {
                "designer": { "x": 1200, "y": 0 },
                "restore": {
                    "expect": { "scope": { "label": "One cycle" } }
                },
                "interface": [
                    { "name": "hero_image_url", "type": "any", "label": "hero_image_url" }
                ]
            }
        },
        {
            "id": 5,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.line.me/v2/bot/message/push",
                "method": "post",
                "headers": [
                    { "name": "Authorization", "value": "Bearer IL0hYw2V8k935z3NQ4R17F9b8Vu7B4LJwltM9Md11lZ0Sp4kgyko0pgf2BsaGall3Gosf9+OIpNUu3ghimaDGOkll7c5ZhClgWZCWrcE1/UNYcoI2i9vLQ0TWVki21F8JgjN/XflNFLk0MwWkuvpaQdB04t89/1O/w1cDnyilFU=" },
                    { "name": "Content-Type", "value": "application/json" }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\r\n  \"to\": \"Cbb4c5f107bc25421664b3bc21cc37e15\",\r\n  \"messages\": [\r\n    {\r\n      \"type\": \"flex\",\r\n      \"altText\": \"新特約商店申請\",\r\n      \"contents\": {\r\n        \"type\": \"bubble\",\r\n        \"hero\": {\r\n          \"type\": \"image\",\r\n          \"url\": \"{{28.hero_image_url}}\",\r\n          \"size\": \"full\",\r\n          \"aspectRatio\": \"20:13\",\r\n          \"aspectMode\": \"cover\"\r\n        },\r\n        \"body\": {\r\n          \"type\": \"box\",\r\n          \"layout\": \"vertical\",\r\n          \"spacing\": \"md\",\r\n          \"paddingAll\": \"16px\",\r\n          \"contents\": [\r\n            {\r\n              \"type\": \"text\",\r\n              \"text\": \"特約商店申請\",\r\n              \"weight\": \"bold\",\r\n              \"size\": \"xl\",\r\n              \"color\": \"#C49A3C\"\r\n            },\r\n            {\r\n              \"type\": \"box\",\r\n              \"layout\": \"horizontal\",\r\n              \"margin\": \"sm\",\r\n              \"contents\": [\r\n                {\r\n                  \"type\": \"box\",\r\n                  \"layout\": \"vertical\",\r\n                  \"cornerRadius\": \"12px\",\r\n                  \"backgroundColor\": \"#fef3c7\",\r\n                  \"paddingTop\": \"4px\",\r\n                  \"paddingBottom\": \"4px\",\r\n                  \"paddingStart\": \"12px\",\r\n                  \"paddingEnd\": \"12px\",\r\n                  \"flex\": 0,\r\n                  \"contents\": [\r\n                    {\r\n                      \"type\": \"text\",\r\n                      \"text\": \"{{trim(1.cate)}}\",\r\n                      \"size\": \"xs\",\r\n                      \"color\": \"#92400e\",\r\n                      \"weight\": \"bold\",\r\n                      \"align\": \"center\"\r\n                    }\r\n                  ]\r\n                },\r\n                {\r\n                  \"type\": \"filler\"\r\n                }\r\n              ]\r\n            },\r\n            {\r\n              \"type\": \"text\",\r\n              \"text\": \"{{trim(1.title)}}\",\r\n              \"weight\": \"bold\",\r\n              \"size\": \"lg\",\r\n              \"wrap\": true,\r\n              \"color\": \"#111827\",\r\n              \"margin\": \"md\"\r\n            },\r\n            {\r\n              \"type\": \"separator\",\r\n              \"margin\": \"lg\"\r\n            },\r\n            {\r\n              \"type\": \"box\",\r\n              \"layout\": \"baseline\",\r\n              \"spacing\": \"sm\",\r\n              \"margin\": \"lg\",\r\n              \"contents\": [\r\n                {\r\n                  \"type\": \"text\",\r\n                  \"text\": \"申請人\",\r\n                  \"size\": \"sm\",\r\n                  \"color\": \"#9ca3af\",\r\n                  \"flex\": 2\r\n                },\r\n                {\r\n                  \"type\": \"text\",\r\n                  \"text\": \"{{trim(1.name)}}\",\r\n                  \"size\": \"sm\",\r\n                  \"color\": \"#374151\",\r\n                  \"flex\": 5\r\n                }\r\n              ]\r\n            },\r\n            {\r\n              \"type\": \"box\",\r\n              \"layout\": \"baseline\",\r\n              \"spacing\": \"sm\",\r\n              \"contents\": [\r\n                {\r\n                  \"type\": \"text\",\r\n                  \"text\": \"連絡電話\",\r\n                  \"size\": \"sm\",\r\n                  \"color\": \"#9ca3af\",\r\n                  \"flex\": 2\r\n                },\r\n                {\r\n                  \"type\": \"text\",\r\n                  \"text\": \"{{ifempty(trim(1.phone); \\\"—\\\")}}\",\r\n                  \"size\": \"sm\",\r\n                  \"color\": \"#374151\",\r\n                  \"flex\": 5\r\n                }\r\n              ]\r\n            },\r\n            {\r\n              \"type\": \"box\",\r\n              \"layout\": \"baseline\",\r\n              \"spacing\": \"sm\",\r\n              \"contents\": [\r\n                {\r\n                  \"type\": \"text\",\r\n                  \"text\": \"特約方案\",\r\n                  \"size\": \"sm\",\r\n                  \"color\": \"#9ca3af\",\r\n                  \"flex\": 2\r\n                },\r\n                {\r\n                  \"type\": \"text\",\r\n                  \"text\": \"{{trim(1.planType)}}\",\r\n                  \"size\": \"sm\",\r\n                  \"color\": \"#374151\",\r\n                  \"flex\": 5\r\n                }\r\n              ]\r\n            }\r\n          ]\r\n        },\r\n        \"footer\": {\r\n          \"type\": \"box\",\r\n          \"layout\": \"vertical\",\r\n          \"paddingAll\": \"12px\",\r\n          \"contents\": [\r\n            {\r\n              \"type\": \"button\",\r\n              \"style\": \"primary\",\r\n              \"color\": \"#C49A3C\",\r\n              \"height\": \"sm\",\r\n              \"action\": {\r\n                \"type\": \"uri\",\r\n                \"label\": \"審核商店\",\r\n                \"uri\": \"{{3.data.short_url}}\"\r\n              }\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": { "x": 1500, "y": 0 },
                "restore": {
                    "expect": {
                        "method": { "mode": "chose", "label": "POST" },
                        "headers": { "mode": "chose", "items": [null, null] },
                        "contentType": { "label": "application/json" },
                        "inputMethod": { "label": "JSON string" },
                        "shareCookies": { "mode": "chose" },
                        "parseResponse": { "mode": "chose" },
                        "allowRedirects": { "mode": "chose" },
                        "stopOnHttpError": { "mode": "chose" },
                        "requestCompressedContent": { "mode": "chose" }
                    },
                    "parameters": {
                        "tlsType": { "label": "Empty" },
                        "proxyKeychain": { "label": "Choose a key" },
                        "authenticationType": { "label": "No authentication" }
                    }
                }
            }
        }
    ]
}
